@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

.con {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */

.bodydpn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
    width: 100%;
    display: none;
}

/* Main container styles */
.containerdpn {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
}

/* Section styles */
section {
    margin-bottom: 20px;
}

/* Heading styles */
h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

/* Link styles */
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

.quizbutton button {
    /* background:#f9c7d0; */
    width: 80px;
    height: 50px;

}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
  }
  .activedpn{
    display: block;
}