body {
    font-family: Arial, sans-serif;
}

.container {
    min-width: 400px;
    min-height: 100vh;
    /* margin: 0 auto; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.form-group {
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-group.horizontal {
    flex-direction: row;
    align-items: center;
}

.radio-label {
    margin-right: 10px;
}

.btn-continue {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}